* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --backgroundlight: #b9882d;
    --backgrounddark: #3a4d31;
    --textcolor: #c5cbdd;
}

.header {
    background-color: var(--backgroundlight);
    font: var(--textcolor);
}
.header h1 {
    font-size: 65px;
    font-family: 'Dancing Script', cursive;
}

#MiniBio {
    margin-left: 10px;
    padding-left: 5px
    font-family: 'Dancing Script', cursive;
}
.header div {
    padding: 6px 12px;
    margin-right: 20px;
    float: top;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    
}
.header ul {
    list-style-type: none;
    display: inline-block;
    text-align: center;
}
 
.header ul li {
    display:inline;
    text-align: center;
    
}

.design {
    height: 200px;
    margin-bottom: 25px;
    background-image: url('../assets/images/Green\ Tile.jpg');
    background-position: center;
}

body {
    background-color: var(--backgrounddark);
    color: var(--textcolor);
}


.AboutMe {
    text-align: center;
    padding-top: 70px;
}
#work1text {
    padding-top: 75px;

}
#HTML,
.floatright,
.floatleft {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: auto;
    margin-right:auto;
    border-radius: 10px;
    border: solid 10px darkgrey;
    
}

.contactinfo {
    display: inline-block;
    position: center;
    display: flex;
    flex-wrap: wrap;
}